<div id='overlay'>
	<div id="overlay-rules">
		<div id="rules-container">
			<h1>Klondike Solitaire Rules</h1>
			<p>Klondike Solitaire is the most popular version of Solitaire. It's also known as Fascination and Demon Patience.</p>
			<p>Here are the rules for Klondike Solitaire:</p>

			<div class="rules-section">
				<p class="rules-header">Players</p>
				<p>1 player</p>
			</div>
			
			<div class="rules-section">
				<p class="rules-header">Deck</p>
				<p>A standard 52-card deck.</p>
			</div>
			
			<div class="rules-section">
				<p class="rules-header">Goal</p>
				<p>Build all four suits up from ace to king in separate piles.</p>
			</div>

			<div class="rules-section">
				<p class="rules-header">Setup</p>
				<p>Shuffle the deck.</p>
				<p>Deal out 28 cards into seven piles, in the following manner: The first pile (left to right) includes one card, the second pile includes two cards, the third pile includes three cards, etc., so that the last pile has seven cards. This array is known as the tableau.</p>
				<p>Turn the top card on each pile face up, so that there are 7 face-up cards.</p>
				<p>Set the remaining cards aside, forming a draw pile.</p>
			</div>
			
			<div class="rules-section">
				<p class="rules-header">Foundations</p>
				<p>As they become available, the four aces must be played above the tableau; these are the four foundations. Cards of the same suit may be played on each ace in ascending order, from low (2) to high (king).</p>
			</div>
			
			<div class="rules-section">
				<p class="rules-header">Playing on the Tableau</p>
				<p>On the tableau, cards are played in descending order, alternating colors. Always plays cards on the tableau so that every card below it remains partially visible so that you can tell which cards are in the column.</p>
				<p>EXAMPLE: The 10 of hearts may be played on either the Jack of clubs or the Jack of spades. The 5 of clubs may be played on either the 6 of hearts or 6 of diamonds.</p>
				<p>Anytime you move a card from one pile of the tableau to another, turn the revealed face-down card face up. This card is now available to be played or to be played on.</p>
				<p>If a column in the tableau is emptied, any visible king (or a visible king with other cards on top of it) can be moved to fill that space.</p>
			</div>
		
			<div class="rules-section">
				<p class="rules-header">Gameplay</p>
				<p>Pull the first three cards from the draw pile and lay them on the table face up so that only the third card is visible. If this card is playable, you may do so. If not, take the next three cards from the draw pile and lay them face up on top of the cards previously turned over. When you reach the end of the deck, you may turn the face-up cards face down and go through it two more times. Do not shuffle the cards.</p>
			</div>
			
			<div class="rules-section">
				<p class="rules-header">Winning</p>
				<p>You win Klondike Solitaire by building all four suits up from ace to king.</p>
			</div>
			
		</div>
		<div class="button-container">
			<button type="button" routerLink="../game" class="btn btn-lg btn-success solitaire-button">Let's Play!</button>
			<button type="button" routerLink="../home" class="btn btn-lg btn-primary solitaire-button">Back</button>
		</div>
  </div>
</div>
