<div id="field">
	<app-timer></app-timer>
  <div id="playArea">
    <div id="playAreaHeader">
      <div id="deck">
        <div *ngFor="let card of cards; index as i" id="{{i+1}}" class="card drop-area flip-container flipped" >
              <app-card [rank]="card.rank" [suit]="card.suit"></app-card> 
        </div>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <div *ngFor="let topcard of cards | slice:0:1" class="drop-area main-stack main-stack-1" >
    <div *ngFor="let card of cards | slice:0:1; index as i" class="card drop-area flip-container" >
          <app-card [rank]="card.rank" [suit]="card.suit"></app-card> 
    </div>
  </div>
  <div *ngFor="let topcard of cards | slice:2:3" class="drop-area main-stack main-stack-2" >
    <div *ngFor="let card of cards | slice:1:3; index as i" class="card drop-area flip-container" >
          <app-card [rank]="card.rank" [suit]="card.suit"></app-card> 
      </div>
  </div>

<app-overlay></app-overlay>
