<div id='overlay' class="hidden">
	<div id="overlay-pause" class="hidden">
		<div class="button-container">
			<button type="button" class="btn btn-lg btn-success solitaire-button continue-button">Continue Game</button>
		</div>
	</div>
	<div id="overlay-times-up" class="hidden">
		<p class="overlay-message">Time's up! You lose!</p>
		<div class="button-container">
			<button type="button" class="btn btn-lg btn-success solitaire-button replay-button">Play Again!</button>
		</div>
	</div>
	<div id="overlay-win" class="hidden">
		<p class="overlay-message">Congratulations! You win!</p>
		<div class="button-container">
			<button type="button" class="btn btn-lg btn-success solitaire-button replay-button">Play Again!</button>
		</div>
	</div>
  </div>
